appdirs==1.4.4
certifi==2018.4.16
chardet==3.0.4
coinbase==2.1.0
DateTime==4.3
distlib==0.3.0
dop==0.1.6
filelock==3.0.12
files==1.1.1
idna==2.7
php==1.2.0
pipenv==2020.5.28
pybase62==0.4.3
pycryptodome==3.9.7
pyTelegramBotAPI==3.7.1
pytz==2020.1
QIWIAPI==5.0
requests==2.7.0
SimpleQIWI==0.7
six==1.15.0
telebot==0.0.3
urllib3==1.23
uuid==1.30
uuid0==0.2.7
virtualenv==20.0.21
virtualenv-clone==0.5.4
zope.interface==5.1.0
